{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "insertPragma": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "printWidth": 100,
  "jsxSingleQuote": true
}
